body {
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
}

.header {
	border: 2px solid black;
	margin: 10px;
	padding: 20px;
}

.content {
	border: 2px solid red;
	min-width: 600px;
	max-width: 1024px;
	margin: 10px;
	padding: 20px;
}

#imgView {
	border: 2px solid orange;
	width: 400px;
	height: 250px;
	overflow: hidden;
}

#gallery {
	width: 12000px;
	height: 150px;
	margin: 0px;
	padding: 0px;
}

.gallery-img {
	display: inline;
	float: left;
}